@import "./_partials/variables";

body {
    background: $backgroundColour;
    user-select: none;
}

.app-title {
    color: #ddd;
    font: $headingFont;
    text-align: center;
}

.drum-machine {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.drum-grid {
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 0 auto;
    max-width: 300px;
}

.drum-pad {
    align-items: center;
    background: $drumpadInactiveColour;
    border-radius: $drumpadBorderRadius;
    box-shadow: $drumpadBoxShadow;
    color: $drumpadTextColour;
    display: grid;
    font-size: 1.1rem;
    font-weight: 800;
    justify-items: center;
    height: $drumpadSize;
    text-align: center;
    text-shadow: $drumpadTextShadow;
    transition: all 0.4s linear;
    width: $drumpadSize;

    &:active,
    &:focus {
        background: $drumpadActiveColour;
        box-shadow: $drumpadActiveBoxShadow;
    }

    &.hit {
        background: $drumpadActiveColourKey;
        box-shadow: $drumpadActiveBoxShadow;
    }
}

.display {
    text-align: center;
    background: inherit;
    border: 3px solid black;
    border-radius: 4px;
    margin: 2rem auto;
    width: 300px;

    .last-hit {
        background: rgb(124, 145, 130);
        border: 1px solid black;
        border-radius: 4px;
        box-shadow: inset 1px 1px 10px 3px rgba(0, 0, 0, 0.5);
        font: $LCDFont;
        padding: 0.5rem;
    }
}