@import url(https://fonts.googleapis.com/css?family=Coiny);

// SITE VARIABLES
$headingFont: 3rem 'Coiny';

// DRUM VARIABLES
$drumpadSize: 75px;
$drumpadBorder: 1px solid #fff;

$drumpadInactiveColour: grey;